/* タブレット縦以上 */
@media screen and (max-width: 889px) {
    .header1{
        display: none;
    }

    /* ハンバーガー */
    .header2{
        display: block;
    }
    .global-nav {
        position: fixed;
        right: -200px; /* これで隠れる */
        top: 0;
        width: 200px; /* スマホに収まるくらい */
        height: 100vh;
        padding-top: 50px;
        background-color: transparent;
        transition: all .6s;
        z-index: 200;
        overflow-y: auto; /* メニューが多くなったらスクロールできるように */
    }
    .hamburger {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
        height: 40px; /* クリックしやすいようにちゃんと高さを指定する */
        cursor: pointer;
        z-index: 300;
    }
    .global-nav__list {
        margin-top: 100px;
        padding: 0px;
        list-style: none;
        text-align: center;
    }
    .global-nav__item {
        padding: 10px 20px;
        padding-right: 100px;
    }
    .global-nav__item a {
        display: block;
        padding: 3px 0;
        text-decoration: none;
        color: #111;
        font-size: 30px;
        font-family: 'klee',sans-serif;
        font-weight: 600;
    }
    .global-nav__item a:hover {
        border-bottom: 1px solid #eee;
    }
    .hamburger__line {
        position: absolute;
        left: -20px;
        width: 40px;
        height: 2px;
        background-color: #111;
        transition: all .6s;
    }
    .hamburger__line--1 {
        top: 24px;
    }
    .hamburger__line--2 {
        top: 40px;
    }
    .hamburger__line--3 {
        top: 56px;
    }
    
    /* 表示された時用のCSS */
    .nav-open .global-nav {
        right: 0;
    }
    .nav-open .hamburger__line--1 {
        transform: rotate(45deg);
        top: 40px;
    }
    .nav-open .hamburger__line--2 {
        width: 0;
        left: 60%;
    }
    .nav-open .hamburger__line--3 {
        transform: rotate(-45deg);
        top: 40px;
    }

    header{
        height: 2000px;
        background-position: -1600px;
    }
    .header-wrap{
        height: 100px;
    }
    .header-left{
        margin-top: 30px;
    }
    .header-left h2{
        font-size: 20px;
    }
    .header-contents{
        float: right;
        margin-right: 80px;
        padding-top: 150px;
    }
    .header-contents h2{
        font-size: 60px;
        margin-top: 0;
    }
    .header-bottom{
        left: 80%;
    }
    .header-bottom p{
        width: 100px;
        height: 100px;
        padding-left: 34px;
        padding-top: 25px;
        font-size: 35px;
    }

    .About{
        text-align: center;
        padding-bottom: 100px;
        padding-top: 100px;
        height: 1800px;
    }

    .about-top h3{
        font-size: 80px;
    }
    .about-left img{
        width: 500px;
        border-radius: 250px;
    }

    .about-right{
        padding: 0;
        text-align: center;
        display: block;
        margin: auto;
        width: 750px;
        margin-top: 60px;
    }

    .about-right h3{
        font-size: 20px;
    }

    .about-right p{
        font-size: 30px;
        text-align: left;
        margin-top: 20px;
    }
    .Skill{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .skill-top h3{
        font-size: 80px;
    }

    .Services{
        padding: 100px 0;
    }
    .service-wrap{
        padding: 0 50px;
    }

    .service-top h3{
        font-size: 80px;
    }

    .services{
        margin: 10px;
        display: block;
        margin: auto;
        width: 800px;
        height: 400px;
        margin: 40px;
        padding: 20px 30px;
    }

    .services h2{
        font-size: 38px;
    }
    .services h3{
        font-size: 50px;
    }
    .services p{
        font-size: 24px;
    }
    .Works{
        padding: 100px 0;
    }

    .work-top h3{
        font-size: 80px;
    }
    .works{
        display: block;
        text-align: center;
        margin: auto;
    }
    .works img{
        width: 800px;
        height: 500px;
    }
    .works h3{
        top: 40%;
        left: 30%;
        font-size: 30px;
    }
    #worked h3{
        padding-left: 130px;
        padding-top: 30px;
    }
    .works-more{
        padding: 20px 30px;
    }
    .works-more h3{
        font-size: 20px;
    }
    .Contact{
        padding: 100px 0;
    }
    .contact-top h3{
        font-size: 80px;
    }
    .contact-wrap h3{
        font-size: 25px;
    }
    .name-box{
        width: 800px;
        height: 100px;
    }
    .mail-box{
        width: 800px;
        height: 100px;
    }
    .contents-box{
        width: 800px;
    }
    .footer-wrap{
        text-align: center;
        padding: 0;
    }
    .brust{
        display: block;
    }
    .footer-left{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .footer-left h2{
        font-size: 10px;
    }

    .footer-right{
        display: block;
    }
    .sns-wrap a{
        width: 60px;
        height: 60px;
        border-radius: 30px;
        padding-bottom: 30px;
    }
    .sns-wrap p{
        font-size: 24px;
        width: 60px;
        height: 60px;
        margin: 0;
        margin-top: 12px;
    }

}
/* スマホ横 */
@media screen and (max-width: 481px) {
}
